<div class="home__container">
  <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVE + BRINDE"
        gameType="FISICO | PS3"
        gamePrice="190.99"
    ></app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="DELUXE"
        gameType="Digtal | PS4"
        gamePrice="190.99"
    ></app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="BEST OF YEAR"
        gameType="Digtal | PS5"
        gamePrice="290.99"
    ></app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DELUXE"
        gameType="Digtal | PS3 PS4 PS5"
        gamePrice="390.99"
    ></app-card>
</div>
